.note-group-select-from-files {
  display: none;
}

label:not(.bold) {
  font-weight: 400 !important;
}

#quill-editor {
  height: 350px;
  font-size: 1rem;
}

.border-right-none {
  border-right: none;
}

.border-left-none {
  border-left: none;
}

.job-applications {
  .user {
    padding: 1rem;
    border-bottom: 1px solid #bbb;
    &:last-child {
      border-bottom: none;
    }
  }
}
