.navbar-light .navbar-nav .nav-link.btn:hover,
.navbar-light .navbar-nav .nav-link.btn:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  border-radius: 50px;
}

.mt-8 {
  margin-top: 8rem;
}

.brand {
  min-height: 80vh;
}

.find {
  min-height: 100vh;
}

.bg-light-red {
  background: #ffe0e0;
}

.postjob {
  padding: 3rem 0;
}

.display-5 {
  font-size: 2.5rem;
}

.btn {
  border-radius: 50px !important;
}

p, ul {
  font-size: 1.3rem;
}

ul {
  margin-top: 2rem;
}

.find {
  background: #fff7f7;
  padding: 4rem 0;
}

.input-group-text {
  background: #fff;
}
